---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"div"> {
  value: string;
}

const { value, class: className, ...props } = Astro.props;
---

<div
  data-tab-content
  data-value={value}
  data-state="inactive"
  class={cn(
    "mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2",
    className,
  )}
  role="tabpanel"
  hidden
  {...props}
>
  <slot />
</div>
